.st-point-right {
  .symbol-area {
    display: flex;
    .symbol-area-item {
      width: 25%;
      height: max-content;
      padding: 0.5em;
      margin: 0 0.5em 0.5em 0;
      border-radius: 6px;
      background: #fff;
      display: flex;
      flex-wrap: wrap;
      .symbol-area-item-symbol {
        padding: 0.5em 1em;
        margin: 0 0.5em 0.5em 0;
        background: #f3f5f9;
        cursor: pointer;
      }
    }
  }
}