.template-wrap {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  .template-content {
    flex: 1;
    overflow: hidden;
    .step-one {
      display: flex;
    }
    .tab-box {
      height: 100%;
    }
  }
  .step-footer {
    display: flex;
    justify-content: center;
  }
}