.plan-correct {
  padding: 0 1em;
  background-color: var(--fill-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .ant-btn-circle {
    position: absolute;
    background: #4275eb url("@/assets/images/back.png") no-repeat center;
    background-size: 70%;
    border: none !important;
    outline: none !important;
  }
  .plan-correct-from {
    margin-left: 4em;
  }
  .plan-correct-content {
    width: 100%;
    display: flex;
    flex: 1;
    padding-top: 1em;
    overflow: hidden;
    .mouth-list {
      display: flex;
      flex-direction: column;
      margin-right: 2em;
      .mouth-item {
        height: 3em;
        width: 9em;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(26,67,184,0.19);
        border-radius: 5px;
        border: 1px solid rgba(142,174,255,0.4);
        cursor: pointer;
        &.active-item {
          background: rgba(26,67,184,0.69);
        }
      }
    }
    .plan-table {
      width: calc(100% - 11em);
      .custom-table-wrap {
        .ant-table.ant-table-bordered {
          .ant-table-container {
            border-inline-start: 1px solid #265B9F;
            border-top: 1px solid #265B9F;
          }
          .ant-table-cell {
            // padding: 0 !important;
            border-inline-end: 1px solid #265B9F !important;
            border-bottom: 1px solid #265B9F !important;
          }
          .ant-table-body {
            overflow-y: auto !important;
            .ant-table-cell {
              padding: 0 !important;
              // border-inline-end: 1px solid #265B9F !important;
            }
          }
        }
      }
    }
  }
}