
:where(.css-dev-only-do-not-override-8mnd3x).ant-tabs-top >.ant-tabs-nav::before {
    border-bottom: 1px solid transparent;
}
:where(.css-dev-only-do-not-override-8mnd3x).ant-tabs .ant-tabs-ink-bar {
    background-color: #3e70ee;
}
.tabs {
    margin-bottom: 10px;
}