
.add-module {
    .data-module-title {
        padding: 6px 0;
        .codes-module {
            max-height: 200px;
            overflow-y: auto;
        }
    }
}
.devices {
    display: flex;
    flex-wrap: wrap;
    .device-item {
        border: 1px solid #0bb7fc;
        margin: 4px;
        padding: 4px;
        &:hover {
            background: #0bb7fc;
            cursor: pointer;
        }
    }
}
.active {
    background: #0bb7fc;
}
.confirm-btn {
    text-align: center;
    .footer-btn {
        display: inline-block;
        margin: 0 10px;
    }
}
