@import "@/styles/layout-flex";

.alarm-rule-tree {
  .flex-column(1em, flex-start, flex-start);
  height: 100%;
  width: 100%;
  overflow: hidden;
  .ant-tree {
    padding: 0.5rem 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bg-active);
    background-color: var(--bgcolor);
    overflow: auto;
    .ant-tree-treenode-disabled .ant-tree-node-content-wrapper {
      color: var(--fontcolor);
    }
    .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner:after {
      background: #fff;
    }
  }

  .footer-option {
    .d-flex(1em, center, space-between);
    width: 100%;
    height: 2em;
  }
}
