.powerM {
  // padding: 2rem;
  .powerM-content {
    // padding: 2rem 7rem;
    height: 500px;
  }
  .confirm-bottom {
    margin-top: 1.5rem;
    text-align: right;
    .ant-btn {
      margin-left: 1.5rem;
    }
  }
}