@import "@/styles/variables";

:root {
  --menu-bg: #2d85f0;
  --menu-item-bg: #1477f2;
  --bgcolor: #ffffff;
  --input-bg: #ffffff;
  --bg-active: #0164a4;
  --table-head-color: rgba(90, 144, 255, 1);
  --table-hover-color: rgb(222, 228, 242);
  --bg-hover: rgba(34, 114, 166, 0.7);
  --fontcolor: rgba(51, 51, 51, 1);
  --deep-font-color: #a4c7ff;
  --white-color: #ffffff;
  --graycolor: rgba(183, 183, 183, 0.7); // 灰色
  --deep-gray: #7c7c7c;
  --light-primary: #ffe6bd;
  --primary-color: rgba(90, 144, 255, 1); // 全局主色
  --success-color: #11b68e;
  --error-color: #ee6969;
  --fault: #ff0000;
  --alarm: #fa703e;
  --border-color: #1477f2;
  --label-color: #5da3f9;
  --deep-primary: #ffb32a;
  --warning-color: #fadb14;
  --fill-color: #fcf1e3;
  --split-color: #104171;
  --head-height: 5rem;
  --bg-linear-active: linear-gradient(131deg, rgba(62, 144, 238, 0.61) 0%, rgba(128, 190, 255, 0.06) 100%);
  --bg-linear: linear-gradient(0deg, #ffffff, #111c47 70%);
  --bg-popover: #163c97ff;
  --btn-bg: linear-gradient(134deg, #3e70ee 0%, rgba(17, 36, 72, 0.89) 100%);
  --btn-border: rgba(62, 144, 238, 0.61);
}
