@import "@/styles/layout-flex";

.limit-power-button-wrap {
  .ant-input-number-group-wrapper {
    .ant-input-number-wrapper {
      .d-flex(0, center, center);
      .ant-input-number {
        width: 8em;
      }
      .ant-input-number-group-addon {
        padding: 0;
        width: unset;
        border: none;
        .limit-power-btn {
          padding: 0 1em !important;
          border-start-start-radius: 0;
          border-end-start-radius: 0;
        }
      }
    }
  }
}
