@import "@/styles/layout-flex";

.verify-code-input-wrap {
  .d-flex(0.4em, center, space-between);
  .verify-code-input {
    flex: 1;
  }
  .verify-code {
    .d-flex(0, center, center);
    width: 120px;
    height: 38px;
    cursor: pointer;
  }
}
