.remove-wrap {
  .icon {
    text-align: center;
  }

  .text {
    margin: .625rem 0;
    font-size: 1.25rem;
    text-align: center;
  }
  .step-footer {
    text-align: right;
   
    .ant-btn {
      margin-left: .625rem;
    }
  }
}