.user-model {
  .confirm-btn {
    margin-top: 1.5rem;
    text-align: center;
    .ant-btn {
      margin-left: 1.5rem;
    }
  }
  .ant-form {
    .ant-input-affix-wrapper-disabled {
      background-color: var(--primary-color);
    }
    .ant-input-disabled {
      color: #ffffff;
      background-color: var(--primary-color);
    }
  }
  
}