.arule-cclt {
  .ant-btn-block {
    width: 5em;
    background: var(--bg-active)
  }
  .arule-cclt-item {
    margin-bottom: 1em;
    .arule-cclt-item--quota {
      display: flex;
      // justify-content: space-between;
      
      .limit-power-lnnterval {
        width: 40%;
        input {
          width: 100%;
        }
      }
      input {
        background-color: var(--input-bg);
      }
    }
  }
}