html,
body,
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
html {
  font-size: 16px;
  text-size-adjust: 100%;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
    text-size-adjust: 100%;
  }
}
@font-face {
  font-family: "FZYouHei";
  src: url(@/styles/font/FangZhengYouHeiJianTi-1.ttf);
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "FZYouHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  input {
    -webkit-text-fill-color: var(--fontcolor);
  }
  .ant-table-wrapper td.ant-table-column-sort {
    background: transparent;
  }
  .ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
    background: var(--table-head-color);
  }
  .ant-table-wrapper .ant-table-thead th.ant-table-column-sort:hover {
    background: var(--bg-active);
  }
  .ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
    background: var(--bg-active);
  }
}
