.custom-table-select {
  .select-span {
    height: 1.7em;
    width: 100%;
    text-align: center;
    border: 1px solid var(--border-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}