@import "@/styles/layout-flex";
.alarm-rule-wrap {
  .d-flex(1em, center, space-between);
  padding: 1em;
  position: relative;
  .alarm-rule-left {
    .flex-column(1em, flex-start, flex-start);
    padding: 4px;
    height: 100%;
    width: 20%;
    border: 1px solid var(--bg-active);
    .rule-left-top {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      .ant-tree {
        background: transparent;
        .ant-tree-node-selected,
        .ant-tree-node-content-wrapper.ant-tree-node-selected {
          background-color: var(--border-color) !important;
        }
        .has-timestamp-children > .ant-tree-node-content-wrapper {
          background-color: var(--label-color)
        }
      }
    }
  }
  .alarm-rule-right {
    width: 80%;
    height: 100%;
    .alrule-table {
      display: flex;
      flex-direction: column;
      // width: 100%;
    }
  }
}